<center><h1>New Article</h1></center>
<form>
            <p>
                        <label for="Name">Title:</label><br>
                        <input id="login" name="Name" type="text" />
            </p>
            <p>
                        <label for="article_text">Text:</label><br>
                        <textarea id="article_text" name="article[text]"></textarea>
            </p>
            <p>
                        <input name="commit" type="submit" value="Save Article" />
            </p>


 <button type="button">Create</button> 
<button type="button">View</button> 
<button type="button">Delete</button> 
</form>

