<h1><font color=Blue><center><font size=40>AMMS</font></center></font> </h1>
<p><font color=Blue><center>Attendance and Mark Management System</center></font></p>
<p><font color=green></font></p>


<form accept-charset="UTF-8" action="/articles/new" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓" /><input name="authenticity_token" type="hidden" value="lltuS9krcq8mW/Zm3j8f8SR7rTbkqdc7pWMfQZEUQtc=" /></div>
            <p><center>
                        <label for="Name">Username:</label>
                        <input id="login" name="Name" type="text" />
            </p>
            <p>
                        <label for="article_text">Password:</label>
                        <textarea id="article_text" name="article[text]"></textarea>
            </p>
            <p>
                        <input name="commit" type="submit" value="LOGIN" /></center>
            </p>
</form>
